
 .mat-column-username {
    flex: 0 0 20% !important;
    width: 20% !important;
  }
 
  .mat-column-fullName {
    flex: 0 0 30% !important;
    width: 30% !important;
  }
 
  .mat-column-storeCount {
    flex: 0 0 5% !important;
    width: 5% !important;
  }
 
  .mat-column-mobileNumber {
    flex: 0 0 10% !important;
    width: 10% !important;
  }
 
  .mat-column-birthDate {
    flex: 0 0 15% !important;
    width: 15% !important;
  }
 
  .mat-column-address {
    flex: 0 0 25% !important;
    width: 25% !important;
  }
 
  .mat-column-controls {
    flex: 0 0 1% !important;
    width: 1% !important;
    padding-right: 0!important;
  }
 
  @media only screen and (max-width: 768px) {
   .mat-column-mobileNumber {
     display: none!important;
    }
    .mat-column-role {
     display: none!important;
    }
  }
 
  @media only screen and (max-width: 414px) {
   .mat-column-email {
     display: none!important;
    }
  }
 
 .table-no-data {
   background-color: #ECEFF1;
   padding: 20px;
   color: #424242 !important;
   span {
     text-align: left;
     font-size: 15px!important;
   }
 }
 
 .hidden {
   display: none!important;
 }
 