.count {
    height: 20px;
    font-size: 14px!important;
    display: flex;
    align-items: center;
    mat-icon {
        font-size: 15px!important;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}