
    .mat-form-field {
      margin-top: 16px;
      &.cell {
        &.isLargeScreen{
          padding-right: 10px!important;
        }
      }
    }

    form {
      fieldset {
        padding: 0!important;
        margin: 0!important;
        border: none!important;
        min-width: 0!important;
      }
    }
