<div class="page-view-container" fxFlex="100" fxLayout="column" fxLayoutGap="10px">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-subtitle>Edit User</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="column" >
      <div fxFlex="100" class="content-inner">
        <!-- <mat-short-vertical-login></mat-short-vertical-login> -->
        <form [formGroup]="changePasswordForm" fxLayout="row wrap" id="changePasswordForm" (ngSubmit)="onSubmit()">
            <fieldset fxFlex="100" fxLayout="row wrap" [disabled]="isProcessing">
              <div fxFlex="100" fxLayout="column">
                <h3>Account details</h3>
              </div>
              <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row" >
                <mat-form-field appearance="outline" fxFlex="50%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    #password
                    type="password"
                    placeholder="Password"
                    formControlName="password">
                    <mat-icon
                      class="icon-right"
                      (click)="password.type = (password.type === 'password' ? 'text' : 'password')"
                      style="cursor: pointer;"
                      matSuffix>{{ password.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
                    <mat-error *ngIf="getError('password') !== (null || undefined)">{{
                      (getError('password') && getError('password').required ? 'Please enter the new password' : '')
                    }}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50%" class="cell" >
                  <mat-label>Confirm password</mat-label>
                  <input
                    matInput
                    type="password"
                    #confirmPassword
                    placeholder="Confirm password"
                    formControlName="confirmPassword"
                    [errorStateMatcher]="matcher">
                    <mat-icon
                      class="icon-right"
                      (click)="confirmPassword.type = (confirmPassword.type === 'password' ? 'text' : 'password')"
                      style="cursor: pointer;"
                      matSuffix>{{ confirmPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
                    <mat-error *ngIf="getError('confirmPassword') !== (null || undefined)">{{
                      (getError('confirmPassword') && getError('confirmPassword').notMatched ? 'Please confirm password' : '')
                    }}</mat-error>
                </mat-form-field>
              </div>
            </fieldset>
          </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button matTooltip="Back to list" mat-stroked-button routerLink="/admin/admin-users" [disabled]="isProcessing || isLoading" color="primary">Back</button>
      <button matTooltip="Save" mat-raised-button color="primary" form="changePasswordForm" type="submit" [disabled]="isProcessing || !formIsValid ">Save</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #elseLoadingGridCol1>
  <div fxFlex="100%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}">
    <ngx-skeleton-loader fxFlex [theme]="{ height: '50px', width: '97%'}"></ngx-skeleton-loader>
  </div>
</ng-template>
