<div class="content mat-app-background">
  <div fxFlex fxLayout="column" class="content-inner" fxFlex="60" fxFlex.md="80" fxFlex.lg="70" fxFlex.sm="100" fxFlex.xs="100" >
    <h3 *ngIf="isAdminUserType">Request for admin account</h3>
    <mat-card fxFlex class="mat-elevation-z4">
      <h1 *ngIf="!isAdminUserType">Create Account</h1>
      <mat-stepper [orientation]="stepperOrientation" [linear]="isLinear" #stepper (selectionChange)="onStepChange($event)" animationDuration="200ms">
        <mat-step [stepControl]="formCreateAccount" label="Create account" flex>
          <!-- Create Account -->
          <form [formGroup]="formCreateAccount" *ngIf="formCreateAccount" fxLayout="row wrap" (ngSubmit)="onSubmitFormCreateAccount()">
            <fieldset fxFlex="100" fxLayout="row wrap" [disabled]="isProcessing">
              <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row" >
                <mat-form-field appearance="outline" fxFlex="33.33%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}">
                  <mat-label>First name</mat-label>
                  <input
                    matInput
                    placeholder="First name"
                    formControlName="firstName"
                    (keypress)="keyPressLettersOnly($event)" >
                    <mat-error *ngIf="getError(formCreateAccount, 'firstName') !== (null || undefined)">{{
                      (getError(formCreateAccount, 'firstName') && getError(formCreateAccount, 'firstName').required ? 'Please enter your first name' : '')
                    }}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33.33%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}">
                  <mat-label>Middle name</mat-label>
                  <input
                    matInput
                    placeholder="Middle name"
                    formControlName="middleName"
                    (keypress)="keyPressLettersOnly($event)" >
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33.33%" class="cell">
                  <mat-label>Last name</mat-label>
                  <input
                    matInput
                    placeholder="Last name"
                    formControlName="lastName"
                    (keypress)="keyPressLettersOnly($event)" >
                    <mat-error *ngIf="getError(formCreateAccount, 'lastName') !== (null || undefined)">{{
                      (getError(formCreateAccount, 'lastName') && getError(formCreateAccount, 'lastName').required ? 'Please enter your last name' : '')
                    }}</mat-error>
                </mat-form-field>
              </div>
            </fieldset>
            <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
              <mat-form-field appearance="outline" fxFlex="50%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                  oninput="this.value = this.value.toLowerCase()">
                  <mat-error *ngIf="getError(formCreateAccount, 'email') !== (null || undefined)">{{
                    (getError(formCreateAccount, 'email') && getError(formCreateAccount, 'email').required ? 'Please enter your email' : '') ||
                    (getError(formCreateAccount, 'email') && getError(formCreateAccount, 'email').email ? 'Please enter a valid email' : '')
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="50%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}" class="no-padding-right">
                <mat-label>Mobile number</mat-label>
                <input
                  matInput
                  placeholder="Mobile number"
                  formControlName="mobileNumber"
                  (keypress)="keyPressNumberOnly($event)" >
                  <mat-error *ngIf="getError(formCreateAccount, 'mobileNumber') !== (null || undefined)">{{
                    (getError(formCreateAccount, 'mobileNumber') && getError(formCreateAccount, 'mobileNumber').required ? 'Please enter your mobile number' : '') ||
                    (getError(formCreateAccount, 'mobileNumber') && getError(formCreateAccount, 'mobileNumber').minlength ? 'Please enter a valid mobile number' : '') ||
                    (getError(formCreateAccount, 'mobileNumber') && getError(formCreateAccount, 'mobileNumber').maxlength ? 'Please enter a valid 11 digit mobile number' : '')
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
              <mat-form-field appearance="outline" fxFlex="33.33%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}" (click)="picker.open()">
                <mat-label>Birthdate</mat-label>
                <input
                  matInput
                  [max]="'2003-12-31'"
                  placeholder="Birthdate"
                  formControlName="birthDate"
                  [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="getError(formCreateAccount, 'birthDate') !== (null || undefined)">{{
                    (getError(formCreateAccount, 'birthDate') && getError(formCreateAccount, 'birthDate').required ? 'Please enter your birthdate' : '')
                  }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="50%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}">
                <mat-label>Select Gender</mat-label>
                <mat-select
                  formControlName="genderId">
                  <mat-option value="1">Male</mat-option>
                  <mat-option value="2">Female</mat-option>
                  <mat-option value="3">Rather not say</mat-option>
                </mat-select>
                <mat-error *ngIf="getError(formCreateAccount, 'genderId') !== (null || undefined)">{{
                  (getError(formCreateAccount, 'genderId') && getError(formCreateAccount, 'genderId').required ? 'Please select gender' : '')
                }}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea
                  matInput
                  placeholder="Address"
                  formControlName="address">
                </textarea>
                <mat-error *ngIf="getError(formCreateAccount, 'address') !== (null || undefined)">{{
                  (getError(formCreateAccount, 'address') && getError(formCreateAccount, 'address').required ? 'Please enter your address' : '')
                }}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row" >
              <mat-form-field appearance="outline" fxFlex="33.33%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}">
                <mat-label>Username</mat-label>
                <input
                  matInput
                  placeholder="Username"
                  formControlName="username"
                  oninput="this.value = this.value.toLowerCase()">
                  <mat-error *ngIf="getError(formCreateAccount, 'username') !== (null || undefined)">{{
                    (getError(formCreateAccount, 'username') && getError(formCreateAccount, 'username').required ? 'Please enter your username' : '')||
                    (getError(formCreateAccount, 'username') && getError(formCreateAccount, 'username').notAvailable ? 'The username entered is not available. Try another one' : '')
                  }}</mat-error>
              </mat-form-field>
              <div fxFlex="33.33%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}"></div>
              <div fxFlex="33.33%" class="cell" ></div>
            </div>
            <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
              <mat-form-field appearance="outline" fxFlex="50%" class="cell" [ngClass.gt-sm]="{'isLargeScreen': true}">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  #password
                  type="password"
                  placeholder="Password"
                  formControlName="password">
                  <mat-icon
                    class="icon-right"
                    (click)="password.type = (password.type === 'password' ? 'text' : 'password')"
                    style="cursor: pointer;"
                    matSuffix>{{ password.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
                  <mat-error *ngIf="getError(formCreateAccount, 'password') !== (null || undefined)">{{
                    (getError(formCreateAccount, 'password') && getError(formCreateAccount, 'password').required ? 'Please enter your password' : '')
                  }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="50%" class="cell" >
                <mat-label>Confirm password</mat-label>
                <input
                  matInput
                  type="password"
                  #confirmPassword
                  placeholder="Confirm password"
                  formControlName="confirmPassword"
                  [errorStateMatcher]="matcher">
                  <mat-icon
                    class="icon-right"
                    (click)="confirmPassword.type = (confirmPassword.type === 'password' ? 'text' : 'password')"
                    style="cursor: pointer;"
                    matSuffix>{{ confirmPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
                  <mat-error *ngIf="getError(formCreateAccount, 'confirmPassword') !== (null || undefined)">{{
                    (getError(formCreateAccount, 'confirmPassword') && getError(formCreateAccount, 'confirmPassword').notMatched ? 'Please confirm your password' : '')
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div class="action-button-container">
              <button class="action-button" mat-raised-button color="primary" [disabled]="!formCreateAccount.valid">Create account</button>
            </div>
          </form>
        </mat-step>
        <mat-step label="Saving">
          <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 40px;" *ngIf="isProcessing">
            <mat-spinner diameter="60" fxLayoutAlign="center" style="margin-bottom: 40px;"></mat-spinner>
            <h3>{{isAdminUserType ? 'Creating request please wait...':'Saving your account please wait...'}}</h3>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 40px;" *ngIf="!isProcessing">
            <img width="50px" height="50px" src="../../../../assets/img/vector/icons8-ok-480.svg">
            <h3>{{isAdminUserType ? 'Request account has been created successfully! Please wait for admin approval' : 'Your account has been created successfully!'}}</h3>
            <a mat-raised-button color="primary" [routerLink]="isAdminUserType ? '/admin/auth/login' : '/auth/login'">Get Started<mat-icon>arrow_forward</mat-icon></a>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="!isProcessing  && !isSuccessful">
      <h3>Already have an account? <a [routerLink]="isAdminUserType ? '/admin/auth/login' : '/auth/login'" routerLinkActive="router-link-active"  >Log in</a></h3>
    </div>
  </div>
</div>
